<a class="back-btn" href="/">←</a>

<style>
  .back-btn {
    font-size: 1em;
    font-family: "Atkinson";
    color: var(--black);
    /* box-shadow: var(--box-shadow); */
    background: rgb(var(--gray-light));
    border-radius: 50%;
    cursor: pointer;
    transition:
      background 0.2s,
      color 0.2s;
    position: fixed;
    width: 3em;
    line-height: 3em;
    left: 2em;
    top: 2em;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
  }
  .back-btn:hover {
    background: var(--accent);
    color: rgb(var(--gray-light));
  }
</style>
